
@charset "UTF-8";



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.gold-line {
  height: 2px;
  background: linear-gradient(90deg, transparent, #D4AF37, transparent);
  width: 0;
}

.gold-text {
  background: linear-gradient(90deg, #D4AF37, #FFD700, #D4AF37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: radial-gradient(rgba(212,175,55,0.15) 1px, transparent 1px);
  background-size: 60px 60px;

  animation: particlesMove 20s linear infinite;

  pointer-events: none;
  z-index: 0;
}

/* movimento suave */
@keyframes particlesMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(212,175,55,0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  pointer-events: none;
}

section {
    padding: 100px 20px;
    text-align: center;
}


h1 {
    font-size: 2.5em;
    font-family: 'Cinzel', serif;
    font-weight: 510;
    letter-spacing: 5px;

}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Cinzel', serif;
}

h2.frase {
    color: #d0bc7c;
    font-weight: 500;
    letter-spacing: 8px;
    font-size: 1.6em;
    margin-bottom: 60px;
}

p {
    color: #ccc;
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 1.3em;
}

/*BOTÃO*/

button {
    margin-top: 60px;
    padding: 15.5px 45px;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 0.95em;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(135deg, #cab263, #FFD700);
    color: #000;
    border-radius: 4px;
}

button:hover {
  box-shadow: 0 0 20px rgba(212,175,55,0.6);
}

button:hover {
    box-shadow: 0 0 20px #d4af377a;
}


/*PORTIFÓLIO*/

.projects {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.project {
    width: 250px;
    height: 150px;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

/*FRASE*/

h2#principal {
    color: #fff;
    font-size: 2.5em;
    letter-spacing: 5px;
    font-weight: 100;
}

/*CARDS*/

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    padding: 20px;
    border: 1px solid #333;
    transition: 0.3s;
}

.card:hover {
    border-color: #D4AF37;
}

/*DIFERENCIAIS8*/

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
div.itens {
    display: inline-block;
    padding-right: 13px;
    color: #d0bc7c;
    margin-bottom: 20px;
}

/*PROCESSO*/

.steps {
    display: flex;
    justify-content: center;
    gap: 20px;
}

h2.process {
    color: #cbc09f;
    font-size: 1.7em;

}

/*LEAD*/

p#lead {
    font-size: 1.55em;
    font-family: serif;
    line-height: 40px;

}

h2#cta {
    font-size: 2.3em;
    line-height: 50px;
    letter-spacing: 4.5px;
    font-weight: 500;
}

button.cta {
    padding: 16.5px 63px;
    font-size: 1.2em;
    font-weight: 500;
    color: #000;
}

@media (max-width: 768px) {
  button {
    width: 50%;
  }
}

@media (max-width: 768px) {

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  .projects {
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
  }

  .steps {
    flex-direction: column;
  }

}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

